services:
  race-service:
    build: .
    image: ghcr.io/langrenn-sprint/race-service:test
    ports:
      - 8080:8080
    environment:
      - ADMIN_USERNAME=${ADMIN_USERNAME}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - EVENTS_HOST_SERVER=event-service
      - EVENTS_HOST_PORT=8080
      - COMPETITION_FORMAT_HOST_SERVER=competition-format-service
      - COMPETITION_FORMAT_HOST_PORT=8000
      - USERS_HOST_SERVER=user-service
      - USERS_HOST_PORT=8000
      - DB_HOST=mongodb
      - DB_PORT=27017
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - LOGGING_LEVEL=${LOGGING_LEVEL}
    depends_on:
      - event-service
      - competition-format-service
      - user-service
      - mongodb
  event-service:
    image: ghcr.io/langrenn-sprint/event-service:latest
    ports:
      - 8081:8080
    environment:
      - ADMIN_USERNAME=${ADMIN_USERNAME}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - COMPETITION_FORMAT_HOST_SERVER=competition-format-service
      - COMPETITION_FORMAT_HOST_PORT=8000
      - USERS_HOST_SERVER=user-service
      - USERS_HOST_PORT=8000
      - DB_HOST=mongodb
      - DB_PORT=27017
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - LOGGING_LEVEL=${LOGGING_LEVEL}
    depends_on:
      - competition-format-service
      - user-service
      - mongodb
  competition-format-service:
    image: ghcr.io/langrenn-sprint/competition-format-service:latest
    ports:
      - 8082:8000
    environment:
      - ADMIN_USERNAME=${ADMIN_USERNAME}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - USERS_HOST_SERVER=user-service
      - USERS_HOST_PORT=8000
      - DB_HOST=mongodb
      - DB_PORT=27017
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - LOGGING_LEVEL=${LOGGING_LEVEL}
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - user-service
      - mongodb

  user-service:
    image: ghcr.io/langrenn-sprint/user-service:latest
    ports:
      - 8083:8000
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXP_DELTA_SECONDS=${JWT_EXP_DELTA_SECONDS}
      - ADMIN_USERNAME=${ADMIN_USERNAME}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - DB_HOST=mongodb
      - DB_PORT=27017
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
    depends_on:
      - mongodb
  mongodb:
    image: mongo:7-jammy
    ports:
      - 27017:27017
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${DB_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${DB_PASSWORD}
